<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campaign Generator{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- فونت Vazirmatn از Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Vazirmatn', sans-serif;
        }
    </style>
    <!-- Optional: Include your custom CSS if any -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body class="bg-gray-100 flex flex-col min-h-screen text-right">
    <!-- Include Header -->
    {% include 'header.html' %}

    <!-- Main content area with flex-grow -->
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'footer.html' %}
</body>
</html>
